.toastContainer {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 120px;
  height: 64px;
  border-radius: 8px;
  border: solid 1px black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  width: 32px;
  height: 32px;
}

.closeIcon {
  width: 24px;
  height: 24px;
}
